.buttonsContainer {
   display: flex;
   gap: 21px;
}

.clock {
   font-family: "Montserrat";
   
}

.watch {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 8px;
}

.watch strong {
   font-weight: 600;
}

.more {
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color: rgba(0, 0, 0, 0.5);
   margin-bottom: 27px;
}